name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Install Git LFS
        run: git lfs install
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote add hf https://yaimbot23:${{ secrets.HF_TOKEN }}@huggingface.co/spaces/yaimbot23/chatbot_docker
          git lfs push hf main
          git push --force hf main
